.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

#buttonPlay {
    -fx-graphic: url('../Icons/Play-48.png');
}

#buttonPause {
    -fx-graphic: url('../Icons/Pause-48.png');
}

#buttonFastForward {
    -fx-graphic: url('../Icons/Fast-Forward-48.png');
}

#buttonStop {
    -fx-graphic: url('../Icons/Stop-48.png');
}